.App {
  text-align: center;
}
.Header {
  display: flex;
  justify-content: space-between;
  width: 500px;
  position: fixed;
  top: 200px;
}

.List {
  position: fixed;
  top: 300px;
  overflow:auto; 
  height: 500px;
}

.Empty {
  color: #79747E;
}

.App-header {
  background-color: #e6e6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
